<section class="container">
  <h1 ><%= current_user.first_name%>'s Profile:</h1>
  <div>
    <li>
      <%= pluralize(@user.posts.count, "post")%>
    </li>
    <li>
     
    </li>
  </div>
  <div>
    <%= link_to "Edit Profile", edit_user_registration_path %>
  </div>
</section>