<% @sorted_categories.each do |category| %>
  <% if current_user.id == category.user_id %>
    <div class="">
      <div class="myaccordion">
        <div class="card ">
          <div class="card-header middle">
            <h2 class="mb-0 ">
              <button class=" btn btn-link">
                <%= link_to "#{category.name}", category_posts_path(category), class: "nav-link text-center" %>
              </button>
            </h2>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>