
<div class="container-fluid"> 

  <% if user_signed_in? %>
  <ul class="list-group container-fluid col-md-7">

    <div class="myacordion">
      <h2 class="homepage-cats nav-space label-style">Categories</h2>
      <% Post::CATEGORIES.each do |category| %>
      <li class="nav-item list-group-item nav-space">
        <%= link_to "#{category}", category_posts_path(category), class: "nav-link text-center" %>
      </li>
      <%end%>
    </div>
  </ul>
  <%end%>
</div>