<h3 class="middle search-margin">Search Result</h3>  

<% @post_results.each do |result| %>  
<div class="">
  <div class="myaccordion">
    <div class="card">
      <div class="card-header middle">
        <h2 class="mb-0">
          <button class=" btn btn-link text-color">
            <%= link_to "#{result.description}", post_path(result), class: "nav-link posts" %><br>  
          </button>
        </h2>
      </div>
    </div>
  </div>
</div>
<% end %>
<% @category_results.each do |result| %>  
<div class="">
  <div class="myaccordion">
    <div class="card">
      <div class="card-header middle">
        <h2 class="mb-0">
          <button class=" btn btn-link text-color">
            <%= link_to "#{result.name}", category_posts_path(result), class: "nav-link posts" %><br>  
          </button>
        </h2>
      </div>
    </div>
  </div>
</div>
<% end %>