<div class="container  myaccordion">
	<div class="label-style">
		<%= @post.category %> 
	</div>
	<div class="label-style-btm middle">
		<%= @post.description %><br>
	</div><br>
	<div class="code-background ">
		<div class="container-fluid ">
			<pre> 
				<code class="text-color"> 
					<%= @post.code %> 
				</code>
			</pre>
		</div>
	</div>
	<br>
	<% if @post.user_id == current_user.id %>
	<%= link_to 'Edit', edit_post_path(@post) %>
	<%end%>
</div> 


