/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .home-space {
 	margin-left: 60px;
 	margin-top: 10px;
 }

 .middle {
 	text-align: center;
 }

 .new-post {
 	position: absolute;
 	right: 60px;
 }
 .nav-space {
 	margin-right: 35px;
 	margin-left: 35px;
 	margin-bottom: 5px;
 	margin-top: 0px;
 }
 .label-style{
   color: #8C3503;
   font-weight: bold;
   font-size: 20px;
 }

 .label-style-btm {
   color: #032533;
   font-size: 40px;
 }

 .text-left {
 	text-align: left;
 }

 .dropdownPos {
 	text-align: right;
 	margin-right: 100px;
 	margin-bottom: 10px;

 }

 .footer {
 	margin-top: 100px;
 }

 .title {
 	margin-left: 30px;
 	padding-left: 30px;
 }
 .text-color {
 	color: #C9DB00;
 }
 .code-background {
 	background-color: #032533;
 }

 .code-background-show {
  max-width: 600px;
  background-color: #032533;
 }

 .text-center{
 	vertical-align: center;

 }
 .home-background {
 	background-color: #032533;
 }

 .jumbotron {
 	background-color:transparent !important; 
 }

 .myaccordion .btn-link:hover,
 .myaccordion .btn-link:focus {
 	text-decoration: none;
 }

 .myaccordion .card,
 .myaccordion .card:last-child .card-header {
 	border: none;
 }
 .myaccordion {
 	max-width: 600px;
 	margin: 10px auto;
 	box-shadow: 0 0 1px rgba(0,0,0,0.1);
 }


/***************************************
SEARCH BAR
*****************************************/ 
