<div class="">
  <div class="myaccordion">
    <div class="card ">
      <div class="card-header">
        <div class="label-style-category">Category</div>
        <h2 class="mb-0 middle">
          <button class=" btn btn-link">
            <%= link_to "#{category.name}", category_path(category), class: "posts"%>
          </button>
          <div class="label-style-category">
            <%=pluralize(category.posts.count, 'post')%>
          </div>
        </h2>
      </div>
    </div>
  </div>
</div>
