<div class="container  myaccordion">
  <div class="label-style">
    <%= @category.name %> 
  </div>
  <div class="middle">
   <%= link_to 'Edit', category_path(@category), class: "edit-btn btn" %>
 </div>
</div> 
