
<% if user_signed_in? %>
<footer class="footer">
  <hr style="border: .5px solid#032533;" />
  <ul class="nav justify-content-center">
    <% @categories.each do |category| %>
    <li class="nav-item nav-space">
      <%= link_to "#{category.name}", category_posts_path(category), class: "nav-link" %>
    </li>
    <%end%>
  </ul>
  <footer class="middle">&copy; Copyright 2019 - My Code Library</footer>

</footer>
<%end%>