<% if user_signed_in? %>
<div class="top-four-background ">
  <div class="label-style-top-four"><%= link_to "TOP FOUR:", top_four_path(@top_four_categories), class: "label-style-top-four" %></div>
  <ul class="nav justify-content-center" >
    <% @top_four_categories.limit(4).each do |category| %>
    <li class="nav-item nav-space">
      <%= link_to "#{category.name}", category_posts_path(category), class: "nav-top-four" %>
    </li>
    <%end%>
  </ul>
  <%end%>
</div>